<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.weatherday" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WeatherDay</name>
    <description>
        Retrouvez la qualité des prévisions météo de Openweathermap sur votre application, pour toutes les communes de métropole, d'outre-mer et dans le monde. Des prévisions en direct avec géolocalisation et pluie dans l’heure.
    </description>
    <author email="maxime.doutreluingne@sfr.fr">
        WeatherDay Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
