body {
  background-color: #e0e0e0;
}

nav img {
  margin-top: 3px; 
}

a.btn {
  width: 100%; 
}

.margin {
  margin: 25px 15px !important; 
}

.dateweather {
  font-weight: 500;
  font-size: 15px;
}

.icon_menu {
    float: left;
    padding: 2.5%;
}

.user-view {
  background-color:#4db6ac;
}

#card_info1 {
  border-right: 1px solid #64b5f6;
}

.titre_info {
  border-right: 1px solid #64b5f6;
}

.infoweather {
  font-size: 15px;
  font-weight: 500;
}

.infoweather img {
  vertical-align:middle;
  margin: 4%;
}

.waves-effect div {
  vertical-align:middle;
}

.img_weather_week {
  margin-left: 15%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.swiper-container, #weatherweek {
  width: 100%;
  height: 100%;
}

.dark {
   background-color: #222f3e !important;
   color: #1abc9c !important;
}

.default {
  background-color: #009688 !important;
  color: white !important;
}


  